
<div class="main container-fluid">
<div>
<div class="row">
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col button-div">
<button type="button" class="btn-lg main-button">Check the movies!</button>
    </div>
  </div>





